<h3>New Entry</h3>
<%#= render partial: "entries/form", locals: {entry: @entry} %>
<%= render partial: "entries/form2", locals: {categories: @categories, entry: @entry, quote: @quote, picture: @picture} %>